/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* Root Color */
:root {
    --primary: #132D46;
    --Highlight-Effect: #01C38D;
    --white-text: #F1F1F1;
    --secondary-background: #646464;
    --black-text: #000;
    --bg-CardTransportation: #6884A5;
    --glassmorp-stroke: rgba(245, 245, 245, 0.30);
    --glassmorp-fill: linear-gradient(97deg, rgba(237, 237, 237, 0.20) 0%, rgba(212, 212, 212, 0.20) 24.43%, rgba(153, 153, 153, 0.05) 73.29%);
    --bg-mvp-result: linear-gradient(152deg, #799AB9 0%, #132D46 79.75%);  
    --PopUp-Daerah: linear-gradient(97deg, rgba(237, 237, 237, 0.20) 0%, rgba(221, 217, 217, 0.20) 99.72%);
    
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif, italic;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

header,
nav,
section,
article,
aside,
footer,
hgroup {
    display: block;
}

.hide {
    display: none;
}

html,
body {
    background-color: var(--white-text);
    width: 100%;
    overflow-x: hidden;
}

/* Daerah jakarta */

section, .daerah {
    padding-top: 40px;
    padding-bottom: 40px;

    background: var(--bg-mvp-result);
}

.btn_daerah li {
    display: inline-block;
}
ul li a {
    display: block;
    padding: 10px 10px;
    color: var(--white-text);
    border-radius: 10px;
    border: 1px solid var(--White-Text, #F1F1F1);
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}


.content_daerah {
    margin-top: 5%;
    margin-left: -105%;
    display: flex;
    justify-content:revert;
    width: 1050px;
    height: 567px;
    flex-shrink: 0;
    border-radius: 18px;
    background: radial-gradient(90.78% 123.38% at 6.01% 8.93%, rgba(149, 149, 149, 0.7) 0%, rgba(92, 92, 92, 0.35) 0.01%, rgba(223, 223, 223, 0.28) 100%);
    backdrop-filter: blur(150px);
    
}

.monas {
    margin-left: 6%;
    margin-top: -4%;
    overflow: visible;

}

.title-jakarta {
    padding-top: 250px;
    margin-left: 88px;
    width: 33%;
    height: 10%;
    color: var(--white-text);
    text-align: justify;
    font-family:'Plus Jakarta Sans', sans-serif, italic;
}

.title-jakarta h1 {
    margin-left: 97px;
    color: var(--White-Text, #F1F1F1);
    font-family: "Plus Jakarta Sans";
    font-size: 38px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    
}

.title-jakarta h3 {
    text-align: justify;
    position: relative;
    top: 10px;
    font-size: 20px;
    font-weight: 400;
    
}


.pilihan {
    margin-top: 7%;
}

.text-transportasi {
    color: var(--white-text);
    font-family: "Plus Jakarta Sans";
    font-size: 60px;
    font-style: normal;
    font-weight: 700px;
    line-height: normal;
    letter-spacing: 1.6px;
}

.card_transportasi {
    display: flex;
    margin: 20px;
    grid-gap: 40px;
}

.card_transportasi img {
    border-radius: 10px;
    backdrop-filter: blur(50px);
}

.card_transportasi h1 {
    color: var(--white-text);
    font-family: "Plus Jakarta Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: -48px;
    right: -10px;
}

