/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* Root Color */
:root {
    --primary: #132D46;
    --Highlight-Effect: #01C38D;
    --white-text: #F1F1F1;
    --secondary-background: #646464;
    --black-text: #000;
    --bg-CardTransportation: #6884A5;
    --glassmorp-stroke: rgba(245, 245, 245, 0.30);
    --glassmorp-fill: linear-gradient(97deg, rgba(237, 237, 237, 0.20) 0%, rgba(212, 212, 212, 0.20) 24.43%, rgba(153, 153, 153, 0.05) 73.29%);
    --bg-mvp-result: linear-gradient(152deg, #799AB9 0%, #132D46 79.75%);  
    --PopUp-Daerah: linear-gradient(97deg, rgba(237, 237, 237, 0.20) 0%, rgba(221, 217, 217, 0.20) 99.72%);
    
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif, italic;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

header,
nav,
section,
article,
aside,
footer,
hgroup {
    display: block;
}

.hide {
    display: none;
}

html,
body {
    background-color: var(--white-text);
    width: 100%;
    overflow-x: hidden;
}

/* Tampilan Awal Homepage*/

section.main-content {
    background-color: var(--primary);
    padding-bottom: 80px;
}

.main-content .text-content {
    margin-top: 80px;
}

.main-content .text-content h1 {
    color: var(--white-text);
    font-family: "Plus Jakarta Sans";
    font-size: 46px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 5px;
}

.main-content .trans-animation {
    margin-top: 90px;
}

.main-content .trans-animation .KRL {
    background: linear-gradient(116deg, #D28151 0%, #AC382C 25.19%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Plus Jakarta Sans";
    font-size: 46px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 10px;
}

.main-content .trans-animation .MRT {
    background: linear-gradient(117deg, #062371 7.53%, #B11C74 21.68%, #A09EAE 35.82%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Plus Jakarta Sans";
    font-size: 46px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.main-content .trans-animation .LRT {
    color: #9D231D;
    font-family: "Plus Jakarta Sans";
    font-size: 46px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.main-content .trans-animation .BUS {
    background: linear-gradient(116deg, #EB1C1E 0%, #FDC04C 25.19%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Plus Jakarta Sans";
    font-size: 46px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.main-content .trans-animation .Mikrotrans {
    color: #3A88DE;
font-family: "Plus Jakarta Sans";
font-size: 46px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
}


.main-content .text-content h3 {
    color: var(--white-text);
    font-family: "Plus Jakarta Sans";
    font-size: 26px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.main-content .text-content span {
    color: var(--white-text);
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; 
    letter-spacing: -0.32px;
    opacity: 45%;
}


.main-content .btn-dest {
    margin-top: 20px;
}

.main-content .btn-dest .btn-primary {
    color: var(--white-text);
    background-color:#B8B8B8;
    border-color: #B8B8B8;
}

.main-content .btn-dest .btn {
    font-size: 22px;
    font-style: italic;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.44px;
    padding: .775rem .975rem;
    text-align: left;
    border-radius: 20px;
    width: 550px;
}



/* Mengapa memakai kami?*/

section.why-us {
    background-color: var(--white-text);
    padding-bottom: 80px;
    padding-top: 80px;
}

.why-us .backdrop {
    background-color: var(--primary);
    padding-top: 80px;
    border-radius: 15px;
}

.why-us .content-why h1 {
    color: var(--white-text);
    font-family: "Plus Jakarta Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    text-align: center;
    margin-bottom: 20px;
}

.why-us .content-why span {
    color: var(--white-text);
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    margin-bottom: 80px;
}

.why-us .icon-loc {
    justify-content: center;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0;
    padding-right: 0;
    background-color: var(--white-text);
    border-radius: 20px;
    margin-left: 25px;
    margin-right: 130px;
}

.why-us .icon-transport {
    justify-content: center;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    background-color: var(--white-text);
    border-radius: 20px;
    margin-left: 25px;
    margin-right: 130px;
}

.why-us .icon-rute {
    position: static;
    justify-content: center;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0;
    padding-right: 0;
    background-color: var(--white-text);
    border-radius: 20px;
}